.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Layout classes */

.col-3 {
	width: 98%;
	padding: 1%;
}

body {
	background-color: #000000;
}

.siteToolbar {
	background-color: #ffffff !important;
	position: fixed;
	display: inline-block;
	width: 100%;
	z-index: 10;
}

.sideMenu {
	z-index: 101;
}

.menuButton {
	width: 10%;
	min-width: 0;
	padding-left: 2%;
	padding-right: 2%;
	display: inline-block;
}

.menuIcon {
	color: #000000 !important;
}

.toolbarButton, .toolbarLogo {
	color: #000000;
	display: inline-block;
}

.toolbarLogo {
	width: 80%;
	align-self: center;
	margin-left: 0;
}

#logoTextSpan {
	font-family: 'Cinzel', serif;
	font-size: 3.5vw;
	font-weight: bolder;
}

#logoSpan {
	font-family: 'Cinzel', serif;
	font-size: 4vw;
	font-weight: lighter;
}

.buttonText {
	text-transform: lowercase;
}



#navigationRow {
	margin-right: 2.5%;
	font-family: 'Raleway', serif;
	float: right;
}

#mainContainer {
	background-color: #000000;
}

.imageSlider1 {
	margin-top: 100px;
}

.imageSlider2, .imageSlider3 {
	margin-top: 10px;
}

.carousel-image {
	opacity: 0.75;
}

.carousel-image:hover {
	opacity: 1;
}

/*Mobile Styling*/
@media screen and (min-width: 768px) {
	.col-3 { 
		width: 24.5%;
		padding: 0.25%;
	}

	.toolbarLogo {
		margin-left: 6.5%;
		width: auto;
	}

	#logoTextSpan {
		font-family: 'Cinzel', serif;
		font-size: 20px;
		font-weight: bolder;
	}

	#logoSpan {
		font-family: 'Cinzel', serif;
		font-size: 27px;
		font-weight: lighter;
	}

	#navigationRow {
		margin-right: 4.5%;
		font-family: 'Raleway', serif;
	}



	#welcomeText {
		margin-top: 50px !important;
		font-size: 5.5vw;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: lighter;
	}

	#toText {
		margin-top: 150px;
		font-size: 4vw;
		font-family: 'Dancing Script', cursive;

	}

	#artOfGraduationText {
		margin-top: 350px;
		font-size: 6vw;
		font-family: 'Cinzel', serif;
		font-weight: lighter;
	}

	#photographyText {
		margin-top: 450px;
		font-size: 4.5vw;
		font-family: 'Raleway', serif;
		font-weight: lighter;
		letter-spacing: 10px;
	}

	

}

/*Tablet Styling*/
@media screen and (min-width: 768px) and (max-width: 1360px) {
	.siteToolbar {
	}
	.toolbarLogo {
		display: block;
		margin: 20px auto;
		width: auto;
		float: none;
		align-self: center;

	}
	.toolbarButton {
		margin: 0 auto;
	}

	#navigationRow {
		width: auto;
		float: none;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		align-self: center;
		display: block;
	}

	.imageSlider1 {
		margin-top: 160px;
	}

	.imageSlider2, .imageSlider3 {
		margin-top: 10px;
	}

	.menuButton {
		display: none;
	}

	#welcomeText {
		margin-top: 100px !important;
		font-size: 5.5vw;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: lighter;
	}

	#toText {
		margin-top: 150px;
		font-size: 3.5vw;
		font-family: 'Dancing Script', cursive;

	}

	#artOfGraduationText {
		margin-top: 225px;
		font-size: 6vw;
		font-family: 'Cinzel', serif;
		font-weight: lighter;
	}

	#photographyText {
		margin-top: 275px;
		font-size: 4.5vw;
		font-family: 'Raleway', serif;
		font-weight: lighter;
		letter-spacing: 10px;
	}


	
	
}